{% extends 'moviesapp/components/base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4NmE1OWItNTg4OC00NjRiLWJjZTctM2Y1MDFlMWFjNjdjXkEyXkFqcGdeQXVyNzE4Mzc1NTY@._V1_.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">2022</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}