{% load static %}
{% url 'movies_app:movies_type' 'movies' as MOVIES %}
{% url 'movies_app:movies_type' 'series' as SERIES %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'movies_app:home' %}">Agga</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == MOVIES %}active{% endif %}" aria-current="page"
                       href="{% url 'movies_app:movies_type' 'movies' %}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == SERIES %}active{% endif %}"
                       href="{% url 'movies_app:movies_type' 'series' %}">Series</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Category</a>
                    <ul class="dropdown-menu mt-2">
                        {% if categories %}
                            {% for category in categories %}
                                <li><a class="dropdown-item"
                                       href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" formaction="/search/" type="submit">Search</button>
            </form>


            <ul class="navbar-nav mx-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == MOVIES %}active{% endif %}"
                       data-bs-toggle="dropdown" href="% url 'movies_app:movies_type' 'movies' %}" role="button"
                       aria-expanded="false">
                        <img class="col rounded-circle" width="30px" height="30px"
                             src="{% static 'moviesapp/no_image_available.jpeg' %}"/>
                        User</a>
                    <ul class="dropdown-menu mt-2">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
